.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card{
    background-color: #92a8d1;
    width: 60%;
    height: 450px;
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.5fr 1fr;
}

.pad{
    padding: 20px;
}

.card-img{
    grid-row: 1/3;
    grid-column: 1/2;
    /* background-color: yellow;  */
}

.card-title{
    grid-row: 1/2;
    grid-column: 2/4;
    position: relative;
     /* background-color: red;  */
}

.card-text{
    grid-row: 2/3;
    grid-column: 2/4;
     /* background-color: green;  */
}

.card-text2{
    grid-row: 3/4;
    grid-column: 1/4;
     /* background-color: purple;  */
} 

.imgprofilo{
    width: 200px;
    height: auto;
    clip-path: polygon(15% 0, 80% 0, 80% 100%, 15% 100%);
}

.card-title h2{
    font-family: 'Lobster', sans-serif;
    color: white;
}

.card-title label{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.card-title p,.card-text p{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.card-title a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.card-text2 label{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.card-text2 figure{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.card-text2{
    display: flex;
    align-items: center;
    gap: 4%;
}

.card-text2 span{
    width: 20%;
}

.card-text{
    display: flex;
    gap: 5%;
}

.card-text h3
{
    font-family: 'Lobster', sans-serif;
    color: white;
    margin: 0;
}

.contacts{
    width: 50%;
}
.hobbies
{
    width: 40%;
}
.list-hobbies{
    padding-left: 10px;
}

.list-hobbies li{
    list-style: url('../media/angle-right-solid.svg');
    color: white;
    font-family: 'Roboto', sans-serif;
}

.contacts a{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.modify-contact{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.icon::before{
    content: '\f303';
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-right: 4%;
}
.video-style{
    width: 200px;
}

.modForm{
    width: 60%;
    height: 1200px;
    background-color: #92a8d1;
    position: relative;
}

.hobbies-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-modForm{
    width: 30%;
    text-align: center;
    margin-bottom: 1%;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: 3%;
    cursor: pointer;
}

.modForm-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

@media all and (max-width:2000px) and (min-width:1600px){
    .card{
        grid-template-columns: 0.50fr 1fr 1fr;
    }
}

@media all and (max-width:1301px){
    audio{
        width: 200px;
    }
}

@media all and (max-width:1150px){
    .card{
        width: 75%;
    }
}

@media all and (max-width:910px){
    .card{
        width: 90%;
    }
    audio{
        width: 160px;
    }
    .video-style{
        width: 150px;
    }
    
}

@media all and (max-width:600px){
    .card-text2{
        flex-direction: column;
        justify-content: center;
    }
    .card-text2 figure{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-text{
        font-size: 13px;
        display: flex;
        flex-direction: column;
    }
    .card-text2 span{
        width: 100%;
    }
    .card{
        height: 640px;
        grid-template-columns: 1fr 0.5fr 0.5fr;
    }
    .contacts{
        width: 100%;
    }
    

}

@media all and (max-width:450px){
    .card{
        grid-template-columns: 0.75fr 0.5fr 0.5fr;
        grid-template-rows: 0.25fr 0.5fr 1fr 1fr;
    }
    .card-img{
        grid-row: 2/3;
        grid-column: 1/4;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imgprofilo{
        width: 60%;
    }
    .card-title{
        grid-row: 1/2;
        grid-column: 1/4;
        text-align: center;
    }
    .card-text{
        grid-row: 3/4;
        grid-column: 1/4;
    }
    .card-text2{
        grid-row: 4/5;
        grid-column: 1/4;
    }
    .card{
        height: 750px;
        grid-template-columns: 1fr 0.5fr 0.5fr;
    }
    .contacts{
        text-align: center;
    }
    .hobbies{
        width: 100%;
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .modForm{
        width: 80%;
    }
}