.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-body{
    width: 50%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}

.item{
    background-color: #034f84;
    width: 80%;
    height: 50%;
    border-radius: 15px;
    position: relative;
    text-decoration: none;
}

.item-body{
    display: flex;
    align-items: center;
    gap: 2%;
    height: 100%;
}

/*Togliere commento per la versione con opacity immagine*/
/* .item:hover{
    background-color: #92a8d1;
} */

.item span > div{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}

.img-profilo{
    width: 30%;
    border-radius: 50%;
    margin-left: 5%;
}

.number{
    position: absolute;
    background-color: #92a8d1;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 30px;
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0.5;
}

.number span{
    margin-left: 15%;
}

.item:hover .number{
    display: flex;
    align-items: center;
}

/*Togliere commento per la versione con opacity immagine*/
/* .item:hover .img-profilo{
    opacity: 0.5;
} */

@media all and (max-width:950px){
    .container-body{
        width: 80%;
    }
}

@media all and (max-width:650px){
    .container-body{
        width: 100%;
    }

    .item span > div{
        font-size: 15px;
    }
}