@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body
{
    font-family: 'Montserrat', sans-serif;
}
.container-table
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

tr:nth-child(odd) { background-color: #76b576; }
tr:nth-child(even) { background-color: #a1ffa1; }

table,th,tr,td
{
    border: 1px solid black;
    border-collapse: collapse;
}
th
{
    font-size: 25px;
}
td
{
    width: 33%;
    font-size: 18px;
}
table
{
    width: 50%;
    text-align: center;
}

footer
{
    background-color: lightcoral;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}