@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
}

.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scheda-anagrafica
{
    background-image: url(../media/sfondo.svg);
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 400px;
    border: 1px solid black;
}
.first
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2%;
    padding: 10px;

}

.container-img
{
    width: 30%;
}
.container-img img
{
    width: 100%
}

.container-info
{
    display: flex;
    gap: 2%;
    justify-content: space-around;
    color: white;
    width: 100%;
}

.divide
{
    width: 50%;
}

.container-info a
{
    text-decoration: none;
    color: white;
}

.container-varie
{
    margin-top: 5%;
    display: flex;
    align-items: center;
    width: 100%;
}

.container-varie span
{
    display: flex;
    align-items: center;
    gap: 2%;
    width: 50%;
}
span label
{
    color: white;
}
figure
{
    color: white;
}
