#container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scheda-anagrafica
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
    width: 50%;
    gap: 2%;
    height: 400px;
}

#scheda-anagrafica img
{
    width: 30%;
}

#container-info
{
    display: flex;
    flex-direction: column;
    gap: 3%;
}

#container-info1
{
    display: flex;
    align-items: center;
    gap: 2%;
}

