.container-table
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


tr:nth-child(even) { background-color: rgb(208, 230, 251); }

table
{
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 3%;
}

.evidenzia:hover{
    background-color: yellow;
}

th
{
    font-size: 25px;
}
td
{
    width: 33%;
    height: 40px;
    font-size: 18px;
}
.id
{
    background-color: yellow;
    padding: 4px 10px;
    border-radius: 50%;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

footer
{
    background-color: #034f84;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    display: flex;
    color: white;
    justify-content: center;
    font-family: 'Lobster', cursive;
    height: 50px;
    align-items: center;
}

@media all and (max-width:900px) {
    table{
        width: 85%;
    }
}